body {
  background-color: lightcoral;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
}

p1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 12px;
}

img {
width: 80%; height: 20%; align-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 150px;
  background-color: white;
}

li a {
display: block;
color: black;
padding: 5px 10px;
text-decoration: none;
}

li a:hover {
  background-color: lightgray;
  color: white;
}

li b {
color: black;
text-decoration: none;
}

table, th, td {
  border: 1px solid black;
}

ul.a {
  list-style-type: disc;
  margin: 10px;
  padding: 10px;
  width: 150px;
}
li.a a{
color: black;
text-decoration: none;
}

#tags {
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-collapse: collapse;
  width: 100%;
}

#tags td, #tags th {
  border: 1px soild #ddd;
  padding: 8px;
}

#tags tr:nth-child(even){
  background-color: white;
}

#tags tr:hover {
  background-color: #ddd;
}

#tags th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blue;
  color: white;
}


.wrapper {
  background-color: #443850;
  color: #fff;
}
  

.box {
  background-color: #443850;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 150%; 
}

.header{
  background-color: #BBBE64;
  color: black;
}
.footer {
  background-color: #7D8491;
  color: white;
}

.middle {
  background-color: #EAF0CE;
  color: black;
}

.right {
  background-color: #EAF0CE;
  color: black;
}

.nav {
  background-color: #BBBE64;
  color: white;
}